.all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.top0 {
    background-color: white;
    grid-row: 1/-1;
    grid-column: 1/2;
}

.top100 {
    background-color: black;
    grid-row: 2/-1;
    grid-column: 1/-1;
}

.left0 {
    grid-row: 3/5;
    grid-column: 1/2;
}

.middle0 {
    grid-row: 3/6;
    grid-column: 2/8;
}

.right0 {
    grid-row: 3/4;
    grid-column: 8/10;
}

/*--------------------------上部--------------------------*/
.top00 {
    background-color: white;
    grid-row: 1/-1;
    grid-column: 2/-1;
}

.top1 {

    margin: 0px 10px 5px 10px;
    /*上右下左*/
}

.top2 {
    text-decoration: none;
    color: black;
}

.top3 {
    display: inline;
    margin: 0px 0px 0px 50px;
}

.top3:hover {
    text-decoration: underline;
    color: red;
}

.top4 {
    display: inline;
    margin: 0px 0px 0px 50px;
}

.top4:hover {
    text-decoration: underline;
    color: red;
}

.top5 {
    display: inline;
    margin: 0px 0px 0px 50px;
}

.top5:hover {
    text-decoration: underline;
    color: red;
}

.top6 {
    display: inline;
    margin: 0px 0px 0px 50px;
}

.top6:hover {
    text-decoration: underline;
    color: red;

}

/*---------------------左邊---------------*/
.left0 {
    background-color: rgb(230, 230, 230);
}

.left00 {
    color: black;
    text-decoration: none;
}

.left1 {
    color: black;
    text-decoration: none;
}

.left1:hover {
    display: block;
    background-color: cornflowerblue;
}

.left2 {
    margin: 0;
}
.left101{
    color: black;
    text-decoration: none;
    display: block;
    background-color: burlywood;
}

/*---------------------中間---------------*/
.middle0{
    background-color: white;

}

.middle00{
    text-align: center;

}

.middle1{
    display: inline-block;
}

.middle2{
    display: inline;
}

.middle3{
text-align: center;
color: crimson;
}


.middle6{
    margin-left: 50px;
}

.middle7{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 460px;
}

.middle8{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 550px;
}

.middle9{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 750px;
}

.middle10{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 200px;
}

.middle11{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 310px;
}

.middle12{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle13{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 200px;
}

.middle14{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 310px;
}

.middle15{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle16{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle17{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 350px;
}

.middle18{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 240px;
}

.middle19{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle20{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 450px;
}

.middle21{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 550px;
}

.middle22{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 330px;
}

.middle23{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 180px;
}

.middle24{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 140px;
}

.middle25{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 170px;
}

.middle26{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 170px;
}

.middle27{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle28{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 230px;
}

.middle29{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 160px;
}

.middle30{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 230px;
}

.middle31{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 230px;
}

.middle32{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 180px;
}

.middle33{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 190px;
}

.middle34{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 190px;
}

.middle35{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 160px;
}

.middle36{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 280px;
}

.middle37{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 380px;
}

.middle38{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 320px;
}

.middle39{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 240px;
}

.middle40{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 240px;
}

.middle41{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 340px;
}

.middle42{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 360px;
}

.middle43{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 320px;
}

.middle44{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 330px;
}

.middle45{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 400px;
}

.middle46{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle47{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 680px;
}

.middle48{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 600px;
}

.middle49{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle50{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle51{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle52{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 250px;
}

.middle53{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 180px;
}

.middle54{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 250px;
}

.middle55{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 330px;
}

.middle56{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 270px;
}

.middle57{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 330px;
}

.middle58{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle59{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 330px;
}

.middle60{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle61{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 380px;
}

.middle62{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 400px;
}

.middle63{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 170px;
}

.middle64{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 570px;
}

.middle65{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 90px;
}

.middle66{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 200px;
}

.middle67{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 600px;
}

.middle68{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 120px;
}

.middle69{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 350px;
}

.middle70{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 350px;
}

.middle71{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle72{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 470px;
}

.middle73{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle74{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle75{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle76{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle77{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 250px;
}

.middle78{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 250px;
}

.middle79{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 600px;
}

.middle80{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 350px;
}

.middle81{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 350px;
}

.middle82{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 150px;
}

.middle83{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 150px;
}

.middle84{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 150px;
}

.middle85{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle86{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 280px;
}

.middle87{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 400px;
}

.middle88{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 280px;
}

.middle89{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 530px;
}

.middle90{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 530px;
}

.middle91{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 430px;
}

.middle92{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 350px;
}

.middle93{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 350px;
}

.middle94{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 350px;
}

.middle95{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 350px;
}

.middle96{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 550px;
}

.middle97{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 750px;
}

.middle98{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 350px;
}

.middle99{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 400px;
}

.middle100{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 500px;
}

.middle101{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 500px;
}

.middle102{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 450px;
}

.middle103{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle104{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 750px;
}

.middle105{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 300px;
}

.middle106{
    background-color: black;
    color: greenyellow;
    display: block; 
    overflow-x: auto; 
    padding: 0.5em; 
    margin-left: 50px;
    width: 780px;
}

.middle107{
    display: block;
    margin: auto;
    height: 400px;
}






























/*---------------------右邊---------------*/
.right0{
    background-color: white;
}





